@import 'modules';

// Base CSS
body, html {
	font-family: $font-primary;
	font-weight: 400;
	width: 100%;
	height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $font-primary;
	font-weight: 700;
}

a {
	color: $color-black;
	&:hover {
		color: $color-grey;
		text-decoration: none;
	}
}

hr {
	border-color: $color-grey-light;
}

sup.text-danger {
	font-size: 13px;
	font-weight: 700;
	color: $color-red;
}

.align-left{
  text-align: left;
}

.align-center{
  text-align: center;
}

.align-right{
  text-align: right;
}

.ajax-message{
  margin: 1em 0;
}

// Iframe Responsive
.iframe-responsive {
	position: relative;
	overflow: hidden;
	height: 0;
	& iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&.iframe-responsive-16x9 {
		padding-bottom: 56.26%;
		@media (min-width: 768px) {
			padding-bottom: 26%;
		}
	}
	&.iframe-responsive-4x3 {
		padding-bottom: 74%;
	}
}

// FAQs
ol.faq-list {
	list-style: none; margin: 30px 0 0; padding: 0;
	li {
		margin-bottom: 12px;
		.faqs-question {
			display: block;
			background-color: #f0f0f0;
			color: #748089;
			padding: 8px 15px;
			position: relative;
			&:hover, &:focus {
				text-decoration: none;
			}
			.faqs-arrow {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 15px;
				margin: auto;
				padding: 8px 0;
			}
		}
		.faqs-answer {
			display: none;
			color: #748089;
			padding: 15px;
			.faqs-subtitle {
				display: block;
				font-size: 11px;
				background-color: #f0f0f0;
				color: #748089;
				padding: 8px 15px;
				position: relative;
			}
		}
	}
}

// Social Buttons
.user-info {
	& > ul {
		margin-top: 10px;
	}
	ul {
		li {
			display: inline-block;
			padding: 5px 0 15px;
			margin-left: 8px;
			&.socialShare-to {
				position: relative;
				&:hover > ul {
					bottom: 90%;
					opacity: 1;
					height: auto;
					display: block;
					overflow: visible;
				}
				& > ul {
					position: absolute;
					bottom: 100%;
					background-color: $color-blue;
					list-style: none;
					margin: 0;
					padding: 5px;
					text-align: center;
					opacity: 0;
					height: 0;
					display: none;
					overflow: hidden;
					@include border-radius(4px);
					@include transition(all .25s);
					&:before {
						content: '';
						position: absolute;
						top: 100%;
						left: 0;
						right: 0;
						margin: auto;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 5px 5px 0 5px;
						border-color: $color-blue transparent transparent transparent;
					}
					li {
						display: inline-block;
						margin: 0 0 5px;
						padding: 0;
						a {
							font-size: 18px;
							color: $color-white;
							&:hover {
								color: $color-grey;
							}
						}
					}
				}
			}
			&.checked {
				a {
					color: $color-red;
					&:hover {
						color: $color-red;
					}
				}
			}
			a {
				font-size: 20px;
				color: #99a3b2;
				@include transition(color .2s);
				&:hover {
					color: $color-black;
				}
			}
		}
	}
}

// Buttons 
.btn {
	font-weight: 700;
	&.btn-yellow {
		background-color: $color-yellow;
		border-color: $color-yellow;
		@include transition(all .2s);
		&.btn-shadow {
			border-bottom: 3px solid #f7a900;
			&:hover {
				background-color: $color-yellow;
				border-color: transparent;
				border-bottom-color: $color-yellow;
			}
		}
		&:hover {
			background-color: $color-grey;
			border-color: $color-grey;
			color: $color-white;
		}
	}
	&.btn-grey {
		background-color: $color-grey;
		color: $color-white;
	}

	// Addon
	&.btn-transparent {
		background-color: transparent;
	}
}

// Label Icon
.icon {
	font-size: 18px;
	color: $color-grey;
	&.icon-blue {
		color: $color-blue;
	}
	&.icon-red {
		color: $color-red;
	}
}

// Bootstrap 5 Column
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media screen and (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media screen and (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media screen and (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

// Tabs 
.custom-tabs {
	.nav-tabs {
		border-bottom: none;
		& > li {
			float: none;
			display: inline-block;
			a {
				font-size: 16px;
				font-weight: 700;
				border: none;
				&:hover {
					background-color: #e2e2e2;
					color: $color-black;
				}
			}
			&.active {
				a {
					background-color: #f3f3f3;
					border: none;
				}
			}
		}
	}
	.tab-content {
		background-color: #f3f3f3;
		@include border-radius(3px);
		padding: 20px;
	}
}

// Table
.table {
	&.table-none {
		tr {
			td {
				border: none;
				strong {
					display: block;
					@media (min-width: 768px) {
						display: none;
					}
				}
			}
		}
	}
}
.table.table-custom {
	margin-top: 30px;
	.text {
		text-align: right;
	}
	.checkbox {
      padding: 0 20px;
		text-align: right;

      label{
        display: block;
        padding: 0;
      }

		input[type="checkbox"] {
          position: static;
          float: left;
          margin: 5px 0;
		}
	}
	thead {
		tr {
			th {
				text-align: center;
				border-bottom: none;
				vertical-align: middle;
				font-size: 18px;
				font-style: italic;
				&.colored {
					color: $color-white; 
					padding: 15px 15px;
				}
				&.blue { background-color: $color-blue; }
				&.red { background-color: $color-red; }
				&.yellow { background-color: $color-yellow; color: $color-black; }
			}
		}
	}
	tbody {
		tr {
			text-align: center;
			td {
				border-top: none;
				&:first-child {
					text-align: left;
				}
				&.blue {
					@include box-shadow(inset 2px 0 0 0 $color-blue, inset -2px 0 0 0 $color-blue);
				}
				&.yellow {
					@include box-shadow(inset 2px 0 0 0 $color-yellow, inset -2px 0 0 0 $color-yellow);
				}
				&.red {
					@include box-shadow(inset 2px 0 0 0 $color-red, inset -2px 0 0 0 $color-red);
				}
			}
			&:last-child {
				text-align: right;
				td.blue {
					@include box-shadow(inset 2px 0 0 0 $color-blue, inset -2px 0 0 0 $color-blue, inset 0 -2px 0 0 $color-blue);
				}
				td.yellow {
					@include box-shadow(inset 2px 0 0 0 $color-yellow, inset -2px 0 0 0 $color-yellow, inset 0 -2px 0 0 $color-yellow);
				}
				td.red {
					@include box-shadow(inset 2px 0 0 0 $color-red, inset -2px 0 0 0 $color-red, inset 0 -2px 0 0 $color-red);
				}
			}
		}

      tr:nth-child(2n + 1){
        background: #fff;
      }
	}
	tfoot {
		tr {
			text-align: right;
			td {
				border-top: none;
				&:first-child {
					text-align: left;
				}
			}
			.btn {
				padding-left: 30px;
				padding-right: 30px;
			}
			&:last-child {
				text-align: center;
			}
		}
	}
	.checkbox {
		margin: 0;
	}
}

// Bootstrap Slider Custom
.slider-handle {
	border: 1px solid $color-grey-light;
	background-color: $color-white;
	background-image: none;
}
.slider-selection {
	background-color: $color-yellow;
	background-image: none;
	@include box-shadow(none);
}
.tooltip.top {
	&.top {
		margin-top: -42px;
	}
	.tooltip-arrow {
		border-top-color: $color-yellow;
	}
	.tooltip-inner {
		background-color: $color-yellow;
		font-size: 15px;
		color: $color-black;
		padding: 8px 12px;
	}
}

// Custom Radio Button
.radio-custom {
	input[type="radio"] {
		display: none;
		&:checked {
			& + label {
				background-color: $color-yellow;
			}
		}
	}
	label {
		display: inline-block;
		background-color: $color-grey-light;
		padding: 5px 20px;
		font-size: 15px;
		color: $color-black;
		cursor: pointer;
		@include border-radius(4px);
	}
}

// Custom Fancybox
.fancybox-skin {
	@include border-radius(0px);
}
.fancybox-close {
	top: 10px;
	right: 10px;
	width: 29px;
	height: 30px;
	background-image: url(../images/icon-close.jpg);
	background-repeat: no-repeat;
}

// Custom Pagination
.paginate-custom {
	text-align: center;
	ul.pagination {
		li {
			display: inline-block;
			margin: 0 2px;
			&:first-child {
				a {
					@include border-radius(0px);
				}
			}
			&:last-child {
				a {
					@include border-radius(0px);
				}
			}
			a {
				padding: 3px 8px;
			}
		}
	}
}

// Alert Custom
.alert-custom {
	&.alert-red {
		background-color: $color-red;
		font-size: 21px;
		color: $color-white;
		margin: 0 0 20px;
		padding: 6px 45px;
	}
}

//Messages
.global-messages{
  margin: 0 0 1em;
  padding: 10px;
  background: $color-grey-light;

  ul{
    margin: 0;
    padding: 0;

    li{
      list-style: none;
      margin: 0.25em 0;
      padding: 0;
    }
  }
}

// Breadcrumbs
.breadcrumbs {
	ul {
		list-style: none; margin: 0; padding: 0;
		li {
			display: inline-block;
		}
	}
}

// DateTimePicker
.datepicker {
	.datepicker-days {
		thead {
			tr {
				background-color: #b9d9f5;
				&:first-child {
					background-color: #62707d;
					color: #fff;				
					th {
						&:hover {
							background-color: #62707d!important;
						}
					}	
				}
				th {
					@include border-radius(0px);					
				}				
			}
		}
		tbody {
			tr {
				td {
					padding: 5px 0;
					@include border-radius(0px);
					&.today {
						background-color: #b9d9f5;
						color: #333;
						text-shadow: none;
						font-weight: bold;
						&:before {
							content: none;
						}
					}
				}
			}
		}
	}
}