.inline-form{ display: inline-block; }

#map:after {
    width: 42px;
    height: 40px;
    display: block;
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -30px;
    background: url('../img/map-marker.png');
    pointer-events: none; /* This disables clicks on the marker. Not fully supported by all major browsers, though */
}

.sortable-placeholder{
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid #999;
}